<head>
  <title>{{title}}</title>
</head>

<header>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/acs-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    {{title}}
  </a>
</nav>
</header>

<body>
  <router-outlet></router-outlet>
</body>

<footer class="footer">
  <div class="navbar navbar-light bg-dark">
    <p class="text-light">Parts of this document are from <a href="https://endlesslegend.fandom.com/wiki/">Endless Legend fandom wiki</a> and are under CC BY-NC-SA 3.0.
      Game content and materials are trademarks and copyrights of their respective publisher and its licensors. All rights reserved.</p>
  </div>
</footer>

