{{character|json}}
<div class="container card">
    <div class="card-header">
        <h1 class="sheet-title">Fiche personnage</h1>
            <button *ngIf="!editMode; else elseEditButton" class="btn btn-secondary float-right" (click)="onClickEditButton()">Modifier</button>
        <ng-template #elseEditButton>
            <button class="btn btn-primary float-right" (click)="onClickEditButton()">Sauvegarder</button>
        </ng-template>
    </div>

    <button (click)="onClickDownloadButton()">Charger</button>
    <a download="content.json" href="{{ urlDownload }}">download</a>
    

    <div class="container border">
        <h2>Informations</h2>
        
        <div>
            <span class="info info__name">Nom </span>
            <span *ngIf="!editMode; else elseBlockName">
                {{character.name}}
            </span>
            <ng-template #elseBlockName>
                <label for="name"></label>
                <input id="name" [(ngModel)]="character.name">
            </ng-template>
        </div>

        <p>
            <span class="info info__race">Race </span>
            <span *ngIf="!editMode; else elseBlockRace">
                {{character.race.name}}
            </span>
            <ng-template #elseBlockRace>
                <label for="race"></label>
                <select name="race" [(ngModel)]="character.race.name" id="race">
                    <option *ngFor="let race of racesList" value={{race.name}}>{{race.name}}</option>
                </select>
            </ng-template>
        </p>
        
        <p>
            <span class="info info__subgroup">Sous-faction</span>
            <span *ngIf="!editMode; else elseBlockSubgroup">
                {{character.subgroup}}
            </span>
            <ng-template #elseBlockSubgroup>
                <label for="subgroup"></label>
                <input id="subgroup" [(ngModel)]="character.subgroup">
            </ng-template>
        </p>
    
        <p>
            <span class="info info__archetype">Archétype</span>
            <span *ngIf="!editMode; else elseBlockArchetype">
                {{character.archetype}}
            </span>
            <ng-template #elseBlockArchetype>
                <label for="archetype"></label>
                <input id="archetype" [(ngModel)]="character.archetype">
            </ng-template>
        </p>
    
        <p>
            <span class="info info__goal">But</span>
            <span *ngIf="!editMode; else elseBlockGoal">
                {{character.goal}}
            </span>
            <ng-template #elseBlockGoal>
                <label for="goal"></label>
                <input id="goal" [(ngModel)]="character.goal">
            </ng-template>
        </p>
    </div>

    <div class="container card">
        <h2>Statistiques</h2>
        <div class="row">
            <div class="col-md border">
                <div>
                    <span class="characteristic characteristic__name">Vigueur</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueVigor" >
                            <div class="hexagon">
                                <span class="characteristic characteristic__pure-value">{{character.stats.vigor.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueVigor>
                                <label for="vigor-pure-value"></label>
                                <input class="pure-value-input" id="vigor-pure-value" type="number" [(ngModel)]="character.stats.vigor.pureValue">
                        </ng-template>
                    </div>
                </div>
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.vigor.skills | keyvalue">
                            <td>{{skill.value.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.value.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.value.name}}"></label>
                                    <input class="skill-input" id="{{skill.value.name}}" type="number" [(ngModel)]="skill.value.baseValue">
                                </ng-template>
                            </td>
                            <td>{{skill.value.modifier}}</td>
                            <td>{{skill.value.baseValue + skill.value.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="characteristic characteristic__name">Dextérité</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueDexterity" >
                            <div class="hexagon">
                                <span class="characteristic characteristic__pure-value">{{character.stats.dexterity.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueDexterity>
                                <label for="dexterity-pure-value"></label>
                                <input class="pure-value-input" id="dexterity-pure-value" type="number" [(ngModel)]="character.stats.dexterity.pureValue">
                        </ng-template>
                    </div>
                </div>
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.dexterity.skills | keyvalue">
                            <td>{{skill.value.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.value.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.value.name}}"></label>
                                    <input class="skill-input" id="{{skill.value.name}}" type="number" [(ngModel)]="skill.value.baseValue">
                                </ng-template>
                            </td>
                            <td>{{skill.value.modifier}}</td>
                            <td>{{skill.value.baseValue + skill.value.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="characteristic characteristic__name">Intelligence</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueIntelligence" >
                            <div class="hexagon">
                                <span class="characteristic characteristic__pure-value">{{character.stats.intelligence.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueIntelligence>
                                <label for="intelligence-pure-value"></label>
                                <input class="pure-value-input" id="intelligence-pure-value" type="number" [(ngModel)]="character.stats.intelligence.pureValue">
                        </ng-template>
                    </div>
                </div>
                
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.intelligence.skills | keyvalue">
                            <td>{{skill.value.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.value.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.value.name}}"></label>
                                    <input class=" skill-input" id="{{skill.value.name}}" type="number" [(ngModel)]="skill.value.baseValue">
                                </ng-template>
                            </td>
                            <td>{{skill.value.modifier}}</td>
                            <td>{{skill.value.baseValue + skill.value.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="characteristic characteristic__name">Charisme</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueCharisma" >
                            <div class="hexagon">
                                <span class="characteristic characteristic__pure-value">{{character.stats.charisma.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueCharisma>
                                <label for="charisma-pure-value"></label>
                                <input class="pure-value-input" id="charisma-pure-value" type="number" [(ngModel)]="character.stats.charisma.pureValue">
                        </ng-template>
                    </div>
                </div>
                
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.charisma.skills | keyvalue">
                            <td>{{skill.value.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.value.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.value.name}}"></label>
                                    <input class=" skill-input" id="{{skill.value.name}}" type="number" [(ngModel)]="skill.value.baseValue">
                                </ng-template>
                            </td>
                            <td>{{skill.value.modifier}}</td>
                            <td>{{skill.value.baseValue + skill.value.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    
    <div class="container card">
        <h2>Etat</h2>
        
        <div class="row">
            <div class="col border">
                <h3>Destinée</h3>
                <input type="checkbox" value="{{character.destinyPoint}}">
            </div>
    
            <div class="col border">
                <h3>Santé</h3>

                <table class="table">
                    <thead>
                        <th></th>
                        <th>Malus</th>
                        <th>Récupération</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                    Normal
                                    </label>
                                </div>
                            </td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                    Secoué
                                    </label>
                                </div>
                            </td>
                            <td>-5</td>
                            <td>5 min</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                    <label class="form-check-label" for="flexRadioDefault3">
                                    Légèrement blessé
                                    </label>
                                </div>
                            </td>
                            <td>-10</td>
                            <td>1 jour / premiers soins</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                    <label class="form-check-label" for="flexRadioDefault4">
                                    Gravement blessé
                                    </label>
                                </div>
                            </td>
                            <td>-25</td>
                            <td>1 semaine / chirurgie</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                                    <label class="form-check-label" for="flexRadioDefault5">
                                    Mort
                                    </label>
                                </div>
                            </td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Brume</h3>
                <input type="range" class="form-range" min="0" max="8" step="1" id="customRange1" value="{{character.dustLevel}}">
            </div>
        
        </div>
        

    </div>
    
    
    <div class="container card">
        <h2>Equipement</h2>
    
        <h3>Armes</h3>
        <table class="table table-striped">
            <thead>
                <th>Nom</th>
                <th>Type</th>
                <th>Effets</th>
            </thead>
            <tbody>
                <tr *ngFor="let weapon of character.weapons">
                    <td></td>
                </tr>
            </tbody>
        </table>
    
        <h3>Armures</h3>
        <table class="table table-striped">
            <thead>
                <th>Nom</th>
                <th>Type</th>
                <th>Effets</th>
            </thead>
            <tbody>
                <tr *ngFor="let armor of character.armor">
                    <td></td>
                </tr>
            </tbody>
        </table>
    
        <h3>Inventaire</h3>
        <table class="table table-striped">
            <thead>
                <th>Nom</th>
                <th>Effets</th>
            </thead>
            <tbody>
                <tr *ngFor="let object of character.inventory">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="container card">
        <h2>Capacités</h2>
        <table class="table">
            <thead>
                <th>Nom</th>
                <th>Effets</th>
                <th>Difficulté</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    
    </div>
    
    <div class="container card">
        <h2>Aptitudes</h2>
    
    
    </div>
</div>
