
<div class="container card">
    <div class="card-header">
        <h1>Fiche personnage</h1>
    </div>
    

    <div class="container border">
        <h2>Informations</h2>
        
        <div>
            <span class="info info__name">Nom </span>
            <label for="name"></label>
            <input id="name" [(ngModel)]="character.name" placeholder="name">
        </div>

        <p>
            <span class="info info__race">Race</span>
            {{character.race.name}}
        </p>
        
        <p>
            <span class="info info__subgroup">Sous-faction</span>
            {{character.subgroup}}
        </p>
    
        <p>
            <span class="info info__archetype">Archétype</span>
            {{character.archetype}}
        </p>
    
        <p>
            <span class="info info__goal">But</span>
            {{character.goal}}
        </p>
    </div>

    <div class="container card">
        <h2>Statistiques</h2>
        <div class="row">
            <div class="col-md border">
                <div>
                    <span class="characteristic characteristic__name">Vigueur</span>
                    <div class="hexagon float-right">
                        <span class="characteristic characteristic__pure-value">{{character.stats.vigor.pureValue}}</span>
                    </div>
                </div>
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.vigor.skills | keyvalue">
                            <td>{{skill.value.name}}</td>
                            <td>{{skill.value.baseValue}}</td>
                            <td>{{skill.value.modifier}}</td>
                            <td>{{skill.value.baseValue + skill.value.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="characteristic characteristic__name">Dextérité</span>
                    <div class="hexagon float-right">
                        <span class="characteristic characteristic__pure-value">{{character.stats.dexterity.pureValue}}</span>
                    </div>
                </div>
                
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.dexterity.skills | keyvalue">
                            <td>{{skill.value.name}}</td>
                            <td>{{skill.value.baseValue}}</td>
                            <td>{{skill.value.modifier}}</td>
                            <td>{{skill.value.baseValue + skill.value.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="characteristic characteristic__name">Intelligence</span>
                    <div class="hexagon float-right">
                        <span class="characteristic characteristic__pure-value">{{character.stats.intelligence.pureValue}}</span>
                    </div>
                </div>
                
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.intelligence.skills | keyvalue">
                            <td>{{skill.value.name}}</td>
                            <td>{{skill.value.baseValue}}</td>
                            <td>{{skill.value.modifier}}</td>
                            <td>{{skill.value.baseValue + skill.value.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="characteristic characteristic__name">Charisme</span>
                    <div class="hexagon float-right">
                        <span class="characteristic characteristic__pure-value">{{character.stats.charisma.pureValue}}</span>
                    </div>
                </div>
                
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.charisma.skills | keyvalue">
                            <td>{{skill.value.name}}</td>
                            <td>{{skill.value.baseValue}}</td>
                            <td>{{skill.value.modifier}}</td>
                            <td>{{skill.value.baseValue + skill.value.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    
    <div class="container card">
        <h2>Etat</h2>
        
        <div class="border">
            <h3>Destinée</h3>
            <input type="checkbox" value="{{character.destinyPoint}}">
        </div>

        <div class="border">
            <h3>Santé</h3>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                Normal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                Secoué
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                Légèrement blessé
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault4">
                Gravement blessé
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                <label class="form-check-label" for="flexRadioDefault5">
                Mort
                </label>
            </div>
        </div>
    
        <div class="border">
            <h3>Brume</h3>
            <input type="range" class="form-range" min="0" max="8" step="1" id="customRange1" value="{{character.dustLevel}}">
        </div>

    </div>
    
    
    <div class="container card">
        <h2>Equipement</h2>
    
        <h3>Armes</h3>
        <table class="table table-striped">
            <thead>
                <th>Nom</th>
                <th>Type</th>
                <th>Effets</th>
            </thead>
            <tbody>
                <tr *ngFor="let weapon of character.weapons">
                    <td></td>
                </tr>
            </tbody>
        </table>
    
        <h3>Armures</h3>
        <table class="table table-striped">
            <thead>
                <th>Nom</th>
                <th>Type</th>
                <th>Effets</th>
            </thead>
            <tbody>
                <tr *ngFor="let armor of character.armor">
                    <td></td>
                </tr>
            </tbody>
        </table>
    
        <h3>Inventaire</h3>
        <table class="table table-striped">
            <thead>
                <th>Nom</th>
                <th>Effets</th>
            </thead>
            <tbody>
                <tr *ngFor="let object of character.inventory">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="container card">
        <h2>Capacités</h2>
        <table class="table">
            <thead>
                <th>Nom</th>
                <th>Effets</th>
                <th>Difficulté</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    
    </div>
    
    <div class="container card">
        <h2>Arbre des aptitudes</h2>
    
    
    </div>
</div>
