
h1.sheet-title
{
    font-size: 2.5em;
    display: inline;
}

.info
{
    font-size: 1em;
}

.info.info__name
{
    font-weight: bold;
}

.info.info__race
{
    font-weight: bold;
}

.info.info__subgroup
{
    font-weight: normal;
}

.info.info__archetype
{
    font-style: italic;
}

.info.info__goal
{
    font-style: italic;
}

.category.category__name
{
    font-size: 1.8em;
}

.category.categoryc__pure-value
{
    font-size: 1em;
}

.skill.skill__positive-value
{
    color: green;
}

.skill.skill__negative-value
{
    color: red;
}

.subskill
{
    font-style: italic;
}

.hexagon {
    position: relative;
    width: 40px; 
    height: 23.09px;
    background-color: #ffffff;
    margin: 11.55px 0;
    border-left: solid 3px #333333;
    border-right: solid 3px #333333;
    text-align: center;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 28.28px;
    height: 28.28px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: none;
    left: 2.8579px;
  }
  
  .hexagon:before {
    top: -14.1421px;
    border-top: solid 4.2426px #333333;
    border-right: solid 4.2426px #333333;
  }
  
  .hexagon:after {
    bottom: -14.1421px;
    border-bottom: solid 4.2426px #333333;
    border-left: solid 4.2426px #333333;
  }

  
  .pure-value-input
  {
      border-radius: 0.1em;
      width: 3.5em;
      transform: translateX(100);
  }

.skill-input
{
    border-radius: 0.1em;
    width: 3.5em;
}