
<div class="container card">
    <div class="card-header">
        <h1 class="sheet-title">Fiche personnage</h1>
            <button *ngIf="!editMode; else elseEditButton" class="btn btn-secondary float-right" (click)="onClickEditButton()">Modifier</button>
        <ng-template #elseEditButton>
            <button class="btn btn-primary float-right" (click)="onClickEditButton()">Sauvegarder</button>
        </ng-template>
        <button class="btn btn-warning float-right" (click)="onClickDownloadButton()">Exporter</button>
    </div>




  
    <div class="container border">
        <h2>Informations</h2>
        <table>
            <thead>
                <td></td>
                <td></td>
                <td></td>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="info info__name">Nom </span>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockName">
                            {{ (character$ | async)?.name}}
                        </span>
                        <ng-template #elseBlockName>
                            <label for="name"></label>
                            <input id="name" [(ngModel)]="character.name">
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="info info__race">Race </span>
                    </td>
                    <td>
                        {{(character$ | async)?.race.name}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <td></td>
                <td></td>
                <td></td>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="info info__subgroup">Sous-faction</span>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockSubgroup">
                            {{(character$ | async)?.subgroup}}
                        </span>
                        <ng-template #elseBlockSubgroup>
                            <label for="subgroup"></label>
                            <input id="subgroup" [(ngModel)]="character.subgroup">
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="info info__archetype">Archétype</span>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArchetype">
                            {{(character$ | async)?.archetype}}
                        </span>
                        <ng-template #elseBlockArchetype>
                            <label for="archetype"></label>
                            <input id="archetype" [(ngModel)]="character.archetype">
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="info info__goal">But</span>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockGoal">
                            {{(character$ | async)?.goal}}
                        </span>
                        <ng-template #elseBlockGoal>
                            <label for="goal"></label>
                            <input id="goal" [(ngModel)]="character.goal">
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>  
    </div>








    <div class="container card">
        <h2>Statistiques</h2>
        <div class="row">
            <div class="col-md border">
                <div>
                    <span class="category category__name">Vigueur</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueVigor" >
                            <div class="hexagon">
                                <span class="category category__pure-value">{{(character$ | async)?.stats.vigor.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueVigor>
                                <label for="vigor-pure-value"></label>
                                <input class="pure-value-input" id="vigor-pure-value" type="number" [(ngModel)]="character.stats.vigor.pureValue">
                        </ng-template>
                    </div>
                </div>
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of characterVigorSkills">
                            <td>{{skill.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.name}}"></label>
                                    <input class="skill-input" id="{{skill.name}}" type="number" [(ngModel)]="skill.baseValue">
                                </ng-template>
                            </td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkillModifier"
                                class="skill" [ngClass]="{'skill__negative-value':skill.modifier<0,
                                                'skill__positive-value':skill.modifier>0}">
                                                {{skill.modifier | modifier}}
                                </span>
                                <ng-template #elseBlockSkillModifier>
                                    <label for="{{skill.name}}-modifier"></label>
                                    <input class="skill-input" id="{{skill.name}}-modifier" type="number" [(ngModel)]="skill.modifier">
                                </ng-template>
                            </td>
                            <td class="skill skill__total">{{skill.baseValue + skill.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="category category__name">Dextérité</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueDexterity" >
                            <div class="hexagon">
                                <span class="category category__pure-value">{{(character$ | async)?.stats.dexterity.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueDexterity>
                                <label for="dexterity-pure-value"></label>
                                <input class="pure-value-input" id="dexterity-pure-value" type="number" [(ngModel)]="character.stats.dexterity.pureValue">
                        </ng-template>
                    </div>
                </div>
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of characterDexteritySkills">
                            <td>{{skill.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.name}}"></label>
                                    <input class="skill-input" id="{{skill.name}}" type="number" [(ngModel)]="skill.baseValue">
                                </ng-template>
                            </td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkillModifier"
                                class="skill" [ngClass]="{'skill__negative-value':skill.modifier<0,
                                                'skill__positive-value':skill.modifier>0}">
                                                {{skill.modifier | modifier}}
                                </span>
                                <ng-template #elseBlockSkillModifier>
                                    <label for="{{skill.name}}-modifier"></label>
                                    <input class="skill-input" id="{{skill.name}}-modifier" type="number" [(ngModel)]="skill.modifier">
                                </ng-template>
                            </td>
                            <td class="skill skill__total">{{skill.baseValue + skill.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="category category__name">Intelligence</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueIntelligence" >
                            <div class="hexagon">
                                <span class="category category__pure-value">{{(character$ | async)?.stats.intelligence.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueIntelligence>
                                <label for="intelligence-pure-value"></label>
                                <input class="pure-value-input" id="intelligence-pure-value" type="number" [(ngModel)]="character.stats.intelligence.pureValue">
                        </ng-template>
                    </div>
                </div>
                
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of characterIntelligenceSkills">
                            <td>
                                <span *ngIf="skill.name=='Préparation' 
                                            || skill.name=='Perception' 
                                            || skill.name=='Savoir'
                                            || skill.name=='Savoir-faire'
                                            else subskill">
                                    {{skill.name}}
                                </span>
                                <ng-template #subskill>
                                    <span *ngIf="!editMode; else elseBlockEditSubskill" class="subskill">|  {{skill.name}}</span>
                                    <ng-template #elseBlockEditSubskill>
                                        <div>
                                            <label for="{{skill.key}}-name"></label>
                                            <input id="{{skill.key}}-name" [(ngModel)]="skill.name">
                                            <button *ngIf="skill.key.startsWith('KNL-CUSTOM')" class="btn btn-danger" (click)="onClickDeleteKnowledge(skill.key)">-</button>
                                            <button *ngIf="skill.key.startsWith('KNH-CUSTOM')" class="btn btn-danger" (click)="onClickDeleteKnowHow(skill.key)">-</button>
                                        </div>
                                    </ng-template>
                                </ng-template>
                                <span *ngIf="editMode && skill.name=='Savoir'">
                                    <button class="btn btn-secondary" (click)="onClickAddKnowledge()">+</button>
                                </span>
                                <span *ngIf="editMode && skill.name=='Savoir-faire'">
                                    <button class="btn btn-secondary" (click)="onClickAddKnowHow()">+</button>
                                </span>
                            </td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.name}}"></label>
                                    <input class=" skill-input" id="{{skill.name}}" type="number" [(ngModel)]="skill.baseValue">
                                </ng-template>
                            </td>

                            <td>
                                <span *ngIf="!editMode; else elseBlockSkillModifier"
                                class="skill" [ngClass]="{'skill__negative-value':skill.modifier<0,
                                                'skill__positive-value':skill.modifier>0}">
                                                {{skill.modifier | modifier}}
                                </span>
                                <ng-template #elseBlockSkillModifier>
                                    <label for="{{skill.name}}-modifier"></label>
                                    <input class="skill-input" id="{{skill.name}}-modifier" type="number" [(ngModel)]="skill.modifier">
                                </ng-template>
                            </td>
                            <td class="skill skill__total">{{skill.baseValue + skill.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="category category__name">Charisme</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueCharisma" >
                            <div class="hexagon">
                                <span class="category category__pure-value">{{(character$ | async)?.stats.charisma.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueCharisma>
                                <label for="charisma-pure-value"></label>
                                <input class="pure-value-input" id="charisma-pure-value" type="number" [(ngModel)]="character.stats.charisma.pureValue">
                        </ng-template>
                    </div>
                </div>
                
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of characterCharismaSkills">
                            <td>{{skill.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.name}}"></label>
                                    <input class=" skill-input" id="{{skill.name}}" type="number" [(ngModel)]="skill.baseValue">
                                </ng-template>
                            </td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkillModifier"
                                class="skill" [ngClass]="{'skill__negative-value':skill.modifier<0,
                                                'skill__positive-value':skill.modifier>0}">
                                                {{skill.modifier | modifier}}
                                </span>
                                <ng-template #elseBlockSkillModifier>
                                    <label for="{{skill.name}}-modifier"></label>
                                    <input class="skill-input" id="{{skill.name}}-modifier" type="number" [(ngModel)]="skill.modifier">
                                </ng-template>
                            </td>
                            <td class="skill skill__total">{{skill.baseValue + skill.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    










    
    <div class="container card">
        <h2>Etat</h2>
        
        <div class="row">
            <div class="col border">
                <h3>Destinée</h3>
                <input type="checkbox" [checked]="(character$ | async)?.destinyPoint">
            </div>
    
            <div class="col border">
                <h3>Santé</h3>

                <table class="table">
                    <thead>
                        <th></th>
                        <th>Malus</th>
                        <th>Récupération</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let healthStatus of healthStatusList">
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="healthRadioGroup" id="healthRadioGroup+{{healthStatus.description}}" 
                                        [value]="healthStatus" [(ngModel)]="character.healthStatus" [checked]="true" (change)="onHealthStatusChange()">
                                    <label class="form-check-label" for="healthRadioGroup+{{healthStatus.description}}">
                                    {{healthStatus.description}}
                                    </label>
                                </div>
                            </td>
                            <td>{{healthStatus.malus | modifier}}</td>
                            <td>{{healthStatus.recovery}}</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Brume</h3>
                <input type="range" class="form-range" min="0" max="8" step="1" id="customRange1" [(ngModel)]="character.dustLevel">
                {{character.dustLevel}}/8
            </div>
        </div>
    </div>
    













    
    <div class="container card">
        <h2>Equipement</h2>
    
        <h3>Armes</h3>
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>Nom</th>
                <th>Type</th>
                <th>Matériau</th>
                <th>Effets</th>
                <th *ngIf="editMode">
                    <button class="btn btn-secondary" (click)="onClickAddWeapon()">+</button>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let weapon of (character$ | async)?.weapons">
                    <td>
                        <input class="form-check-input" type="radio" name="healthRadioGroup" id="weaponEquipped+{{weapon.id}}" 
                        [value]="weapon.id" [checked]="weapon.equiped">   
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockWeaponName">
                            {{weapon.name}}
                        </span>
                        <ng-template #elseBlockWeaponName>
                            <label for="weaponName{{weapon.id}}"></label>
                            <input id="weaponName{{weapon.id}}" [(ngModel)]="weapon.name">
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockWeaponType">
                            {{weapon.type}}
                        </span>
                        <ng-template #elseBlockWeaponType>
                            <label for="weaponType{{weapon.id}}"></label>
                            <input id="weaponType{{weapon.id}}" [(ngModel)]="weapon.type">
                        </ng-template>
                     </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockWeaponMaterial">
                            <img src="assets/materials-icons/{{weapon.material.icon}}.png" width=15/> {{weapon.material.name}}
                        </span>
                        <ng-template #elseBlockWeaponMaterial>
                            <label for="weapon{{weapon.id}}material"></label>
                            <select name="weapon{{weapon.id}}material" [(ngModel)]="weapon.material" id="race">
                                <option *ngFor="let material of materialList" [ngValue]="material">{{material.name}}</option>
                            </select>
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockWeaponEffects">
                            {{weapon.effects}}
                        </span>
                        <ng-template #elseBlockWeaponEffects>
                            <label for="weaponEffects{{weapon.id}}"></label>
                            <input id="weaponEffects{{weapon.id}}" [(ngModel)]="weapon.effects">
                        </ng-template>
                    </td>
                    <td *ngIf="editMode">
                        <button class="btn btn-danger" (click)="onClickDeleteWeapon(weapon.id)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <h3>Armures</h3>
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>Nom</th>
                <th>Type</th>
                <th>Matériau</th>
                <th>Effets</th>
                <th *ngIf="editMode">
                    <button class="btn btn-secondary" (click)="onClickAddArmor()">+</button>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let armor of (character$ | async)?.armor">
                    <td>
                        <input type="checkbox" [checked]="armor.equiped">
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArmorName">
                            {{armor.name}}
                        </span>
                        <ng-template #elseBlockArmorName>
                            <label for="armorName{{armor.id}}"></label>
                            <input id="armorName{{armor.id}}" [(ngModel)]="armor.name">
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArmorType">
                            {{armor.type}}
                        </span>
                        <ng-template #elseBlockArmorType>
                            <label for="armorType{{armor.id}}"></label>
                            <input id="armorType{{armor.id}}" [(ngModel)]="armor.type">
                        </ng-template>
                     </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArmorMaterial">
                            <img src="assets/materials-icons/{{armor.material.icon}}.png" width=15/> {{armor.material.name}}
                        </span>
                        <ng-template #elseBlockArmorMaterial>
                            <label for="armor{{armor.id}}material"></label>
                            <select name="armor{{armor.id}}material" [(ngModel)]="armor.material" id="race">
                                <option *ngFor="let material of materialList" [ngValue]="material">{{material.name}}</option>
                            </select>
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArmorEffects">
                            {{armor.effects}}
                        </span>
                        <ng-template #elseBlockArmorEffects>
                            <label for="armorEffects{{armor.id}}"></label>
                            <input id="armorEffects{{armor.id}}" [(ngModel)]="armor.effects">
                        </ng-template>
                    </td>
                    <td *ngIf="editMode">
                        <button class="btn btn-danger" (click)="onClickDeleteArmor(armor.id)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <h3>Inventaire</h3>
        <table class="table table-striped">
            <thead>
                <th>Nom</th>
                <th>Effets</th>
                <th *ngIf="editMode">
                    <button class="btn btn-secondary" (click)="onClickAddItem()">+</button>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let item of (character$ | async)?.inventory">
                    <td>
                        <span *ngIf="!editMode; else elseBlockItemName">
                            {{item.name}}
                        </span>
                        <ng-template #elseBlockItemName>
                            <label for="itemName{{item.id}}"></label>
                            <input id="itemName{{item.id}}" [(ngModel)]="item.name">
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockItemEffects">
                            {{item.effects}}
                        </span>
                        <ng-template #elseBlockItemEffects>
                            <label for="itemEffects{{item.id}}"></label>
                            <input id="itemEffects{{item.id}}" [(ngModel)]="item.effects">
                        </ng-template>
                    </td>
                    <td *ngIf="editMode">
                        <button class="btn btn-danger" (click)="onClickDeleteItem(item.id)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    










    <div class="container card">
        <h2>Capacités</h2>
        <table class="table">
            <thead>
                <th>Nom</th>
                <th>Effets</th>
                <th>Difficulté</th>
                <th *ngIf="editMode">
                    <button class="btn btn-secondary" (click)="onClickAddCapacity()">+</button>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let capacity of (character$ | async)?.capacities">
                    <td>
                        <span *ngIf="!editMode; else elseBlockCapacityName">
                            {{capacity.name}}
                        </span>
                        <ng-template #elseBlockCapacityName>
                            <label for="capacityName{{capacity.id}}"></label>
                            <input id="capacityName{{capacity.id}}" [(ngModel)]="capacity.name">
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockCapacityEffects">
                            {{capacity.effects}}
                        </span>
                        <ng-template #elseBlockCapacityEffects>
                            <label for="capacityEffects{{capacity.id}}"></label>
                            <input id="capacityEffects{{capacity.id}}" [(ngModel)]="capacity.effects">
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockCapacityDifficulty">
                            {{capacity.difficulty}}
                        </span>
                        <ng-template #elseBlockCapacityDifficulty>
                            <label for="capacityDifficulty{{capacity.id}}"></label>
                            <input type="number" id="capacityDifficulty{{capacity.id}}" [(ngModel)]="capacity.difficulty">
                        </ng-template>
                    </td>
                    <td *ngIf="editMode">
                        <button class="btn btn-danger" (click)="onClickDeleteCapacity(capacity.id)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>
    











    <div class="container card">
        <h2>Aptitudes</h2>
       <div class="container">
        
            <div class="trees">
                <img src="assets/abilities-tree/{{(character$ | async)?.job.abilityTreeImg}}.png" width=400 class="tree tree--job"/>
                <img src="assets/abilities-tree/common-abtree.png" width=250 class="tree tree--common"/>
                <img src="assets/abilities-tree/{{(character$ | async)?.race.abilityTreeImg}}.png" width=350 class="tree tree--race"/>
            </div>
        </div>

        <h3 class=" table__abilities-job">Classe - {{(character$ | async)?.job.name}}</h3>
        <table class="table">
            <thead >
                <th></th>
                <th>Aptitude</th>
                <th>Effets</th>
                <th *ngIf="editMode"></th>
            </thead>
            <tbody>
                <tr *ngFor="let ability of (character$ | async)?.abilitiesJob" 
                [ngClass]="{'bg-dark ability-locked':!ability.isUnlocked, 
                            'table-dark':ability.isUnlocked && !ability.isActivated}">
                    <td><img src="assets/abilities-icons/{{ability.content.icon}}.png" width="75"/></td>
                    <td class="ability__name">{{ability.content.name}}</td>
                    <td>{{ability.content.effects}}</td>
                    <td *ngIf="editMode && ability.isUnlocked && !ability.isActivated">
                        <button class="btn btn-success" (click)="onClickActivateAbility(ability)">Activer</button>
                    </td>
                    <td *ngIf="editMode && ability.isActivated">
                        <button class="btn btn-danger" (click)="onClickDeactivateAbility(ability)">Désactiver</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 class=" table__abilities-common">Commun</h3>
        <table class="table">
            <thead>
                <th></th>
                <th>Aptitude</th>
                <th>Effets</th>
                <th *ngIf="editMode"></th>
            </thead>
            <tbody>
                <tr *ngFor="let ability of (character$ | async)?.abilitiesCommon" 
                [ngClass]="{'bg-dark ability-locked':!ability.isUnlocked, 
                'table-dark':ability.isUnlocked && !ability.isActivated}">
                    <td><img src="assets/abilities-icons/{{ability.content.icon}}.png" width="75"/></td>
                    <td class="ability__name">{{ability.content.name}}</td>
                    <td>{{ability.content.effects}}</td>
                    <td *ngIf="editMode && ability.isUnlocked && !ability.isActivated">
                        <button class="btn btn-success" (click)="onClickActivateAbility(ability)">Activer</button>
                    </td>
                    <td *ngIf="editMode && ability.isActivated">
                        <button class="btn btn-danger" (click)="onClickDeactivateAbility(ability)">Désactiver</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 class="table__abilities-race">Race - {{(character$ | async)?.race.name}}</h3>
        <table class="table">
            <thead>
                <th></th>
                <th>Aptitude</th>
                <th>Effets</th>
                <th *ngIf="editMode"></th>
            </thead>
            <tbody>
                <tr *ngFor="let ability of (character$ | async)?.abilitiesRace" 
                [ngClass]="{'bg-dark ability-locked':!ability.isUnlocked, 
                            'table-dark':ability.isUnlocked && !ability.isActivated}">
                    <td><img src="assets/abilities-icons/{{ability.content.icon}}.png" width="75"/></td>
                    <td class="ability__name">{{ability.content.name}}</td>
                    <td>{{ability.content.effects}}</td>
                    <td *ngIf="editMode && ability.isUnlocked && !ability.isActivated">
                        <button class="btn btn-success" (click)="onClickActivateAbility(ability)">Activer</button>
                    </td>
                    <td *ngIf="editMode && ability.isActivated">
                        <button class="btn btn-danger" (click)="onClickDeactivateAbility(ability)">Désactiver</button>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>








</div>
