{{character|json}}
<div class="container card">
    <div class="card-header">
        <h1 class="sheet-title">Fiche personnage</h1>
            <button *ngIf="!editMode; else elseEditButton" class="btn btn-secondary float-right" (click)="onClickEditButton()">Modifier</button>
        <ng-template #elseEditButton>
            <button class="btn btn-primary float-right" (click)="onClickEditButton()">Sauvegarder</button>
        </ng-template>
        <button class="btn btn-warning float-right" (click)="onClickDownloadButton()">Exporter</button>
    </div>




    
    <div class="container border">
        <h2>Informations</h2>
        <table>
            <thead>
                <td></td>
                <td></td>
                <td></td>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="info info__name">Nom </span>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockName">
                            {{character.name}}
                        </span>
                        <ng-template #elseBlockName>
                            <label for="name"></label>
                            <input id="name" [(ngModel)]="character.name">
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="info info__race">Race </span>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockRace">
                            {{character.race.name}}
                        </span>
                        <ng-template #elseBlockRace>
                            <label for="race"></label>
                            <select name="race" [(ngModel)]="character.race" id="race">
                                <option *ngFor="let race of racesList" [ngValue]="race">{{race.name}}</option>
                            </select>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <td></td>
                <td></td>
                <td></td>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="info info__subgroup">Sous-faction</span>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockSubgroup">
                            {{character.subgroup}}
                        </span>
                        <ng-template #elseBlockSubgroup>
                            <label for="subgroup"></label>
                            <input id="subgroup" [(ngModel)]="character.subgroup">
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="info info__archetype">Archétype</span>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArchetype">
                            {{character.archetype}}
                        </span>
                        <ng-template #elseBlockArchetype>
                            <label for="archetype"></label>
                            <input id="archetype" [(ngModel)]="character.archetype">
                        </ng-template>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="info info__goal">But</span>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockGoal">
                            {{character.goal}}
                        </span>
                        <ng-template #elseBlockGoal>
                            <label for="goal"></label>
                            <input id="goal" [(ngModel)]="character.goal">
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>  
    </div>








    <div class="container card">
        <h2>Statistiques</h2>
        <div class="row">
            <div class="col-md border">
                <div>
                    <span class="category category__name">Vigueur</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueVigor" >
                            <div class="hexagon">
                                <span class="category category__pure-value">{{character.stats.vigor.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueVigor>
                                <label for="vigor-pure-value"></label>
                                <input class="pure-value-input" id="vigor-pure-value" type="number" [(ngModel)]="character.stats.vigor.pureValue">
                        </ng-template>
                    </div>
                </div>
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.vigor.getSkills()">
                            <td>{{skill.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.name}}"></label>
                                    <input class="skill-input" id="{{skill.name}}" type="number" [(ngModel)]="skill.baseValue">
                                </ng-template>
                            </td>
                            <td>
                                <span class="skill" [ngClass]="{'skill__negative-value':skill.modifier<0,
                                                'skill__positive-value':skill.modifier>0}">
                                                {{skill.modifier | modifier}}
                                </span>
                            </td>
                            <td>{{skill.baseValue + skill.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="category category__name">Dextérité</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueDexterity" >
                            <div class="hexagon">
                                <span class="category category__pure-value">{{character.stats.dexterity.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueDexterity>
                                <label for="dexterity-pure-value"></label>
                                <input class="pure-value-input" id="dexterity-pure-value" type="number" [(ngModel)]="character.stats.dexterity.pureValue">
                        </ng-template>
                    </div>
                </div>
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.dexterity.getSkills()">
                            <td>{{skill.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.name}}"></label>
                                    <input class="skill-input" id="{{skill.name}}" type="number" [(ngModel)]="skill.baseValue">
                                </ng-template>
                            </td>
                            <td>
                                <span class="skill" [ngClass]="{'skill__negative-value':skill.modifier<0,
                                                'skill__positive-value':skill.modifier>0}">
                                                {{skill.modifier | modifier | displayModifier}}
                                </span>
                            </td>
                            <td>{{skill.baseValue + skill.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="category category__name">Intelligence</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueIntelligence" >
                            <div class="hexagon">
                                <span class="category category__pure-value">{{character.stats.intelligence.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueIntelligence>
                                <label for="intelligence-pure-value"></label>
                                <input class="pure-value-input" id="intelligence-pure-value" type="number" [(ngModel)]="character.stats.intelligence.pureValue">
                        </ng-template>
                    </div>
                </div>
                
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.intelligence.getSkills()">
                            <td>
                                <span *ngIf="skill.name=='Préparation' 
                                            || skill.name=='Perception' 
                                            || skill.name=='Savoir'
                                            || skill.name=='Savoir-faire'
                                            else subskill">
                                    {{skill.name}}
                                </span>
                                <ng-template #subskill>
                                    <span class="subskill">|  {{skill.name}}</span>
                                </ng-template>
                            </td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.name}}"></label>
                                    <input class=" skill-input" id="{{skill.name}}" type="number" [(ngModel)]="skill.baseValue">
                                </ng-template>
                            </td>

                            <td>
                                <span class="skill" [ngClass]="{'skill__negative-value':skill.modifier<0,
                                                'skill__positive-value':skill.modifier>0}">
                                                {{skill.modifier | modifier}}
                                </span>
                            </td>
                            <td>{{skill.baseValue + skill.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="col-md border">
                <div>
                    <span class="category category__name">Charisme</span>
                    <div class="float-right">
                        <div *ngIf="!editMode; else elseBlockPureValueCharisma" >
                            <div class="hexagon">
                                <span class="category category__pure-value">{{character.stats.charisma.pureValue}}</span>
                            </div>
                        </div>
                        <ng-template #elseBlockPureValueCharisma>
                                <label for="charisma-pure-value"></label>
                                <input class="pure-value-input" id="charisma-pure-value" type="number" [(ngModel)]="character.stats.charisma.pureValue">
                        </ng-template>
                    </div>
                </div>
                
                <table class="col table">
                    <thead>
                        <th></th>
                        <th>Base</th>
                        <th>Modificateur</th>
                        <th><em>Total</em></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of character.stats.charisma.getSkills()">
                            <td>{{skill.name}}</td>
                            <td>
                                <span *ngIf="!editMode; else elseBlockSkill">
                                    {{skill.baseValue}}
                                </span>
                                <ng-template #elseBlockSkill>
                                    <label for="{{skill.name}}"></label>
                                    <input class=" skill-input" id="{{skill.name}}" type="number" [(ngModel)]="skill.baseValue">
                                </ng-template>
                            </td>
                            <td>
                                <span class="skill" [ngClass]="{'skill__negative-value':skill.modifier<0,
                                                'skill__positive-value':skill.modifier>0}">
                                                {{skill.modifier | modifier}}
                                </span>
                            </td>
                            <td>{{skill.baseValue + skill.modifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    










    
    <div class="container card">
        <h2>Etat</h2>
        
        <div class="row">
            <div class="col border">
                <h3>Destinée</h3>
                <input type="checkbox" [checked]="character.destinyPoint">
            </div>
    
            <div class="col border">
                <h3>Santé</h3>

                <table class="table">
                    <thead>
                        <th></th>
                        <th>Malus</th>
                        <th>Récupération</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let healthStatus of healthStatusList">
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="healthRadioGroup" id="healthRadioGroup+{{healthStatus.description}}" 
                                        [value]="healthStatus" [(ngModel)]="character.healthStatus" [checked]="true" (change)="onHealthStatusChange()">
                                    <label class="form-check-label" for="healthRadioGroup+{{healthStatus.description}}">
                                    {{healthStatus.description}}
                                    </label>
                                </div>
                            </td>
                            <td>{{healthStatus.malus | modifier}}</td>
                            <td>{{healthStatus.recovery}}</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Brume</h3>
                <input type="range" class="form-range" min="0" max="8" step="1" id="customRange1" [(ngModel)]="character.dustLevel">
                {{character.dustLevel}}/8
            </div>
        </div>
    </div>
    













    
    <div class="container card">
        <h2>Equipement</h2>
    
        <h3>Armes</h3>
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>Nom</th>
                <th>Type</th>
                <th>Matériau</th>
                <th>Effets</th>
                <th *ngIf="editMode">
                    <button class="btn btn-secondary" (click)="onClickAddWeapon()">+</button>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let weapon of character.weapons">
                    <td>
                        <input class="form-check-input" type="radio" name="healthRadioGroup" id="weaponEquipped+{{weapon.id}}" 
                        [value]="weapon.id" [checked]="weapon.equiped">   
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockWeaponName">
                            {{weapon.name}}
                        </span>
                        <ng-template #elseBlockWeaponName>
                            <label for="weaponName{{weapon.id}}"></label>
                            <input id="weaponName{{weapon.id}}" [(ngModel)]="weapon.name">
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockWeaponType">
                            {{weapon.type}}
                        </span>
                        <ng-template #elseBlockWeaponType>
                            <label for="weaponType{{weapon.id}}"></label>
                            <input id="weaponType{{weapon.id}}" [(ngModel)]="weapon.type">
                        </ng-template>
                     </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockWeaponMaterial">
                            {{weapon.material.name}}
                        </span>
                        <ng-template #elseBlockWeaponMaterial>
                            <label for="weapon{{weapon.id}}material"></label>
                            <select name="weapon{{weapon.id}}material" [(ngModel)]="weapon.material" id="race">
                                <option *ngFor="let material of materialList" [ngValue]="material">{{material.name}}</option>
                            </select>
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockWeaponEffects">
                            {{weapon.effects}}
                        </span>
                        <ng-template #elseBlockWeaponEffects>
                            <label for="weaponEffects{{weapon.id}}"></label>
                            <input id="weaponEffects{{weapon.id}}" [(ngModel)]="weapon.effects">
                        </ng-template>
                    </td>
                    <td *ngIf="editMode">
                        <button class="btn btn-danger" (click)="onClickDeleteWeapon(weapon.id)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <h3>Armures</h3>
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>Nom</th>
                <th>Type</th>
                <th>Matériau</th>
                <th>Effets</th>
                <th *ngIf="editMode">
                    <button class="btn btn-secondary" (click)="onClickAddArmor()">+</button>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let armor of character.armor">
                    <td>
                        <input type="checkbox" [checked]="armor.equiped">
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArmorName">
                            {{armor.name}}
                        </span>
                        <ng-template #elseBlockArmorName>
                            <label for="armorName{{armor.id}}"></label>
                            <input id="armorName{{armor.id}}" [(ngModel)]="armor.name">
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArmorType">
                            {{armor.type}}
                        </span>
                        <ng-template #elseBlockArmorType>
                            <label for="armorType{{armor.id}}"></label>
                            <input id="armorType{{armor.id}}" [(ngModel)]="armor.type">
                        </ng-template>
                     </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArmorMaterial">
                            {{armor.material.name}}
                        </span>
                        <ng-template #elseBlockArmorMaterial>
                            <label for="armor{{armor.id}}material"></label>
                            <select name="armor{{armor.id}}material" [(ngModel)]="armor.material" id="race">
                                <option *ngFor="let material of materialList" [ngValue]="material">{{material.name}}</option>
                            </select>
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockArmorEffects">
                            {{armor.effects}}
                        </span>
                        <ng-template #elseBlockArmorEffects>
                            <label for="armorEffects{{armor.id}}"></label>
                            <input id="armorEffects{{armor.id}}" [(ngModel)]="armor.effects">
                        </ng-template>
                    </td>
                    <td *ngIf="editMode">
                        <button class="btn btn-danger" (click)="onClickDeleteArmor(armor.id)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <h3>Inventaire</h3>
        <table class="table table-striped">
            <thead>
                <th>Nom</th>
                <th>Effets</th>
                <th *ngIf="editMode">
                    <button class="btn btn-secondary" (click)="onClickAddItem()">+</button>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let item of character.inventory">
                    <td>
                        <span *ngIf="!editMode; else elseBlockItemName">
                            {{item.name}}
                        </span>
                        <ng-template #elseBlockItemName>
                            <label for="itemName{{item.id}}"></label>
                            <input id="itemName{{item.id}}" [(ngModel)]="item.name">
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="!editMode; else elseBlockItemEffects">
                            {{item.effects}}
                        </span>
                        <ng-template #elseBlockItemEffects>
                            <label for="itemEffects{{item.id}}"></label>
                            <input id="itemEffects{{item.id}}" [(ngModel)]="item.effects">
                        </ng-template>
                    </td>
                    <td *ngIf="editMode">
                        <button class="btn btn-danger" (click)="onClickDeleteItem(item.id)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    










    <div class="container card">
        <h2>Capacités</h2>
        <table class="table">
            <thead>
                <th>Nom</th>
                <th>Effets</th>
                <th>Difficulté</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    
    </div>
    











    <div class="container card">
        <h2>Aptitudes</h2>
    
    
    </div>








</div>
